/*start layout */
$pageWidth: $desktopPageWidth;
.col {
  min-width: 0;
  position: relative;
  //  margin-left: percentage($gutter);
}

nav ul {
  width: $pageWidth;
}

//@include establish-baseline();
.container {
  width: $pageWidth;
  max-width: $maxWidth;
}
.no-desktop{
	display:none;
}

/* end layout */
