
input, textarea,select[size]{
  @include border-radius();
  border: $borderWidth#{px} $borderStyle lighten($borderColor, 50%);
  background: lighten($bgColor, 2%);
  padding:5px;
  margin:2px;
  @include box-shadow();
}
select{
	margin:5px;
}
input{
  &[type=date],&[type=time],&[type=color], &[type=datetime]{
  padding:0px;
  background: #fff;
  //border:inherit;
}
&[type=range]{
  background:none;
  border:none;
  box-shadow:none;
}
}
input[type=submit]{
  @include simpleGradient();
   box-shadow: none;
}
textarea{
  width:500px;
  height: 250px;
}
input:focus, textarea:focus{
background-color: #fff;
background-image:none;
outline:none;
box-shadow:none;
}
