img{
  max-width:100%;
  margin:1em;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.center{
  margin:auto;
  display: block;
}
caption, .cap{
  font-size: 0.8em;
  display:block;
}
.cap img, caption img{
  display:block;
  margin-bottom:0;
}
.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align:right;
}
.text-align-center{
  text-align:center;
}
