/*start layout */
header{
	clear: both;
}
nav{
clear: both;
li{
	float: left;
	position: relative;
	z-index: 5;
//	padding: 5px;
	a{ 
		display: block;
		background: $bgColor;
		margin: 0;
		padding: 5px 17px;
	}
}
}
$base-font-size: 16px;
$base-line-height: $base-font-size * 1.7;
$font-size: $base-font-size;//line11

@include establish-baseline();
.container{
 width: 900px;
}
.children, .sub-menu{
position: absolute;
display: none;
background: $bgColor;
margin:0;
padding:0;
width: $subMenuWidth;
z-index: 6;
	& li{
	float:none;
	clear: both;
	}
}
li:hover .children, li:hover .sub-menu{
display: block;
}
.children li .children, .sub-menu li .sub-menu{
display: none;
background: $bgColor;
z-index: 7;
left: $subMenuWidth;
top:0;
}
.children li:hover .children, .sub-menu li:hover .sub-menu{
display: block;
}

/* end layout */
