/* @group global layout */
$pageWidth: $ipadPageWidthLandscape;

header {
  clear: both;
  margin-top: 60px;
}

.sub-title {
  margin-left: 20px;
}

.container {
  width: $pageWidth;
}

/*iPads (landscape)*/

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .ipad-break-landscape-expand {
    clear: both;
    width: 100%;
  }
  .ipad-break-landscape {
    width: 48%;
  }
  .no-ipad {
    display: none;
  }
  .sub-title {
    margin-left: 0;
  }
}

/* iPads (portrait) ----------- */

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  $pageWidth: $ipadPageWidthPortrait;
  .container {
    width: $pageWidth;
    margin: auto;
  }
  nav ul {
    margin: 0 auto;
    width: 100%;
    background: rgb(250, 250, 250);
    background: rgba(250, 250, 250, 0.5);
    overflow: hidden;
  }
  nav li a {
    padding: 10px;
  }
  header {
    //margin-top:50px !important;
 
  }
  .ipad-break-portrait, .ipad-break-landscape {
    width: 48%;
  }
  .ipad-break-portrait-expand, .ipad-break-landscape-expand {
    width: 100%;
    clear: both;
  }
  .sub-title,.page-title {
    float: none;
    margin-left: 0;
  }
  .no-ipad {
    display: none;
  }
}

/* end layout */
