/*start layout */
$pageWidth: $ipadPageWidthLandscape;
header{
  clear: both;
  margin-top:60px;
}
$startColor:rgba(230,230,230, 0.6);
//$endColor:rgba(230,230,230, 0);
nav{
clear: both;
position:fixed;
left: 0;
width:100%;
z-index: 9999;
@include simpleGradient($endColor, $startColor);
line-height:50px;
ul{
margin:0 auto;
width: $pageWidth;
background: rgba(250,250,250, 0.5);
overflow:hidden;
}
$startColor2:rgba(245,245,245, 1);
$endColor2:rgba(245,245,245, 0);

li{
	float: left;
	position: relative;
	z-index: 5;
//	padding: 5px;
	a{ 
		display: block;
		background:none;
		margin: -1px 0 0;
		padding: 5px 17px;
                &:link, &:visited{
                color: $textColor;
                text-decoration:none;
                border: 1px solid transparent;
              }
               &.active{
              border:1px solid lighten($borderColor, 70%);
                border-bottom:none;
                @include simpleGradient($startColor2, $endColor2);
                //text-decoration: underline;
              }

              &:hover{
                //background:$bgColor;
                border:1px solid lighten($borderColor, 70%);
                border-bottom:none;
                @include simpleGradient(lighten($startColor2, 50%), $endColor2);
                //text-decoration: none;
              }
    	}
}
}
$base-font-size: 16px;
$base-line-height: $base-font-size * 1.7;
$font-size: $base-font-size;//line11

@include establish-baseline();
.container{
 width: $pageWidth;
}
/*iPads (landscape)*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) {
.ipad-break-landscape{
clear:both;
width:100%;
}
.no-ipad{ display: none;}

}
/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) {
$pageWidth: $ipadPageWidthPortrait;
  .container{
   width: $pageWidth;
  }
nav ul{
margin:0 auto;
width: $pageWidth;
background: rgba(250,250,250, 0.5);
overflow:hidden;
}
nav li a{
  padding:  10px;
}
.ipad-break-portrait, .ipad-break-landscape{
clear:both;
width:96%;
}
.sub-title,.page-title{
float:none;
}
//.row:nth-child(2){
//clear:right !important;
//}
.no-ipad{ display: none;}

}
/* end layout */
