.action {
  @include simpleGradient($startActionColor, $endActionColor);
  text-shadow: 0 1px 1px darken($action, 50%);
  padding: 5px 10px;
  border: $borderWidth#{px} $borderStyle lighten($borderColor, 50%);
  @include border-radius;
  text-decoration: none;
  &:link, &:visited {
    color: white;
  }
  &:hover {
    //color: lighten($textColor, 50%);
    text-shadow: 0 -1px 1px darken($action, 50%);
  }
  &:active {
    @include simpleGradient($endActionColor, $startActionColor);
  }
}

.button {
  @extend input[type=submit];
  text-shadow: 0 1px 1px white;
  padding: 5px 10px;
  border: $borderWidth#{px} $borderStyle lighten($borderColor, 50%);
  @include border-radius;
  text-decoration: none;
  &:link, &:visited {
    color: black;
  }
  &:hover {
    text-shadow: 0 -1px 1px white;
  }
  &:active {
    @include simpleGradient($endColor, $startColor);
  }
}

.zero-margin {
  margin: 0;
}

.zero-padding {
  padding: 0;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.cf {
  @include clearfix;
}

.chromeframe {
  clear: both;
}
