//font size stuff
$base-font-size: 16px;
$base-line-height: $base-font-size * 1.7;
$font-size: $base-font-size;//line11
$lines: 0.5;

// grid definitions
$pageWidth: 80%;
$desktopPageWidth: $pageWidth;
$ipadPageWidthPortrait: 80%;
$ipadPageWidthLandscape: 80%;
$numCols: 12;
$gutter: .02;
$offset: 5.5;
$borderWidth: 1;
$hundred: 100;

// classes
$classSlug: span !default;
$no-margin: no-margin !default;
$addBorder: add-border !default;
$push: push !default;
$pull: pull !default;
$offsetSlug: offset !default;

//colors
$textColor: #333;
$bgColor: #f5f5f5;
$action: #3a70da;
$borderColor: #000;
$links: rgb(30,30,140);
$hover: darken($links, 10%);
$visited: rgb(140,30,30);
// border stuff
$borderWidth: $borderWidth !default; //line 35
$borderStyle: solid !default;
$borderColor: $borderColor !default; //line 43

$subMenuWidth: 9.5em;


// box-shadow
$default-border-radius: 4px;
$default-box-shadow-color: darken($bgColor, 20%);
$color: $default-box-shadow-color;
$default-box-shadow-h-offset: 1px;
$hOffset:$default-box-shadow-h-offset;
//The default horizontal offset. Positive is to the right.

$default-box-shadow-v-offset: 1px;
$vOffset: $default-box-shadow-v-offset;
//The default vertical offset. Positive is down.

$default-box-shadow-blur: 2px;
$blur:$default-box-shadow-blur;
//The default blur length.

$default-box-shadow-spread: false;
$spread: $default-box-shadow-spread;

//The default spread length.

$default-box-shadow-inset: true;
$inset: false;

//gradient
$startColor:lighten($bgColor, 5%);
$endColor:darken($bgColor, 20%);

$startActionColor:lighten($action, 15%);
$endActionColor:darken($action, 5%);
