@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "_vars.scss";
@import "_mixins.scss";
/* @group normalize */
@import "_normalize.scss";
/* @end */
 /* @group grid */
@import "_grid.scss";
/* @end */
/* @group type and images */
@import "_type-and-images.scss";
/* @end */
 /* @group grid */
@import "_nav.scss";
/* @end */

/* @group mobile layout */
@media only screen and (max-width: 767px){
/* Styles */
@import "_mobile_layout.scss";
img, .cap img, .cap{
  margin: 5px;
}
.cap{ 
  width: 200px; 
  margin: 10px;
}
}
/* @end*/
/* @group tablet layout */
@media only screen 
and (min-width : 768px){
/* Styles */
@import "_tablet_layout.scss";
.mobileOnly{ display:none;}

}
/* @end */
/* @group desktop layout */
@media only screen 
and (min-width : 1224px) {
/* Styles */
@import "_desktop_layout.scss";
}
/* @end */
/* @group forms */
@import "_forms.scss";
/* @end */
/* @group utility classes */
@import "_utility_classes.scss";
/* @end */
.lt-ie9{
//@import "_grid.scss";
@import "_tablet_layout.scss";
.mobileOnly{ display:none;}

}

