@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "_vars.scss";
@import "_normalize.scss";
@import "_mixins.scss";
@import "_type-and-images.scss";
@import "_forms.scss";
@import "_utility_classes.scss";
@media only screen and (max-device-width: 480px){
/* Styles */
@import "_mobile_layout.scss";
img, .cap img, .cap{
  margin: 5px;
}
.cap{ width: 200px; 
  margin: 10px;
}
}
@media only screen 
and (min-device-width : 768px){
/* Styles */
@import "_grid.scss";
@import "_tablet_layout.scss";
.mobileOnly{ display:none;}
.no-ipad{ display: none;}
.ipad-break-landscape{
clear:both; width:100%
}

}

@media only screen 
and (min-width : 1224px) {
/* Styles */
@import "_desktop_layout.scss";
}
