/* @group global classes */
.container {
  overflow: hidden;
  margin: auto;
  position: relative;
}

.row {
  clear: both;
  position: relative;
  width: 100%;
}
.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

/* @end */
/* @group default grid*/
.span1 {
  margin: 0 1%;
  width: 6.33333%;
}

.span2 {
  margin: 0 1%;
  width: 14.66667%;
}

.span3 {
  margin: 0 1%;
  width: 23%;
}

.span4 {
  margin: 0 1%;
  width: 31.33333%;
}

.span5 {
  margin: 0 1%;
  width: 39.66667%;
}

.span6 {
  margin: 0 1%;
  width: 48%;
}

.span7 {
  margin: 0 1%;
  width: 56.33333%;
}

.span8 {
  margin: 0 1%;
  width: 64.66667%;
}

.span9 {
  margin: 0 1%;
  width: 73%;
}

.span10 {
  margin: 0 1%;
  width: 81.33333%;
}

.span11 {
  margin: 0 1%;
  width: 89.66667%;
}

.span12 {
  margin: 0 1%;
  width: 98%;
}

/* remove margins from every first child */
/* @end */
/* @group no margin */
/* @end */
/* @group with a border */
.add-border {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
}
.add-border h2, .add-border p {
  margin-top: 0;
}

/* @end */
/* @group pull and push*/
.pull-span1 {
  left: 91.66667%;
  width: 8.33333%;
  margin-left: 0;
}

.pull-span2 {
  left: 83.33333%;
  width: 16.66667%;
  margin-left: 0;
}

.pull-span3 {
  left: 75%;
  width: 25%;
  margin-left: 0;
}

.pull-span4 {
  left: 66.66667%;
  width: 33.33333%;
  margin-left: 0;
}

.pull-span5 {
  left: 58.33333%;
  width: 41.66667%;
  margin-left: 0;
}

.pull-span6 {
  left: 50%;
  width: 50%;
  margin-left: 0;
}

.pull-span7 {
  left: 41.66667%;
  width: 58.33333%;
  margin-left: 0;
}

.pull-span8 {
  left: 33.33333%;
  width: 66.66667%;
  margin-left: 0;
}

.pull-span9 {
  left: 25%;
  width: 75%;
  margin-left: 0;
}

.pull-span10 {
  left: 16.66667%;
  width: 83.33333%;
  margin-left: 0;
}

.pull-span11 {
  left: 8.33333%;
  width: 91.66667%;
  margin-left: 0;
}

.pull-span12 {
  left: 0%;
  width: 100%;
  margin-left: 0;
}

.push-span1 {
  left: -91.66667%;
  width: 6.37333%;
  margin-left: 0;
}

.push-span2 {
  left: -83.33333%;
  width: 14.70667%;
  margin-left: 0;
}

.push-span3 {
  left: -75%;
  width: 23.04%;
  margin-left: 0;
}

.push-span4 {
  left: -66.66667%;
  width: 31.37333%;
  margin-left: 0;
}

.push-span5 {
  left: -58.33333%;
  width: 39.70667%;
  margin-left: 0;
}

.push-span6 {
  left: -50%;
  width: 48.04%;
  margin-left: 0;
}

.push-span7 {
  left: -41.66667%;
  width: 56.37333%;
  margin-left: 0;
}

.push-span8 {
  left: -33.33333%;
  width: 64.70667%;
  margin-left: 0;
}

.push-span9 {
  left: -25%;
  width: 73.04%;
  margin-left: 0;
}

.push-span10 {
  left: -16.66667%;
  width: 81.37333%;
  margin-left: 0;
}

.push-span11 {
  left: -8.33333%;
  width: 89.70667%;
  margin-left: 0;
}

.push-span12 {
  left: 0%;
  width: 98.04%;
  margin-left: 0;
}

/* @end */
/* @group offset*/
.offset1 {
  margin-left: 8.33333%;
}

.offset2 {
  margin-left: 16.66667%;
}

.offset3 {
  margin-left: 25%;
}

.offset4 {
  margin-left: 33.33333%;
}

.offset5 {
  margin-left: 41.66667%;
}

.offset6 {
  margin-left: 50%;
}

.offset7 {
  margin-left: 58.33333%;
}

.offset8 {
  margin-left: 66.66667%;
}

.offset9 {
  margin-left: 75%;
}

.offset10 {
  margin-left: 83.33333%;
}

.offset11 {
  margin-left: 91.66667%;
}

/* @end */
