/* @group global classes */
.container {
  overflow: hidden;
  margin: auto;
  position: relative;
}

.row {
  clear: both;
  position: relative;
  width: 100%;
}
.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  overflow: hidden;
  position: relative;
}

/* @end */
/* @group default grid*/
.span1 {
  margin-left: 2%;
  width: 6.33333%;
}

.span2 {
  margin-left: 2%;
  width: 14.66667%;
}

.span3 {
  margin-left: 2%;
  width: 23%;
}

.span4 {
  margin-left: 2%;
  width: 31.33333%;
}

.span5 {
  margin-left: 2%;
  width: 39.66667%;
}

.span6 {
  margin-left: 2%;
  width: 48%;
}

.span7 {
  margin-left: 2%;
  width: 56.33333%;
}

.span8 {
  margin-left: 2%;
  width: 64.66667%;
}

.span9 {
  margin-left: 2%;
  width: 73%;
}

.span10 {
  margin-left: 2%;
  width: 81.33333%;
}

.span11 {
  margin-left: 2%;
  width: 89.66667%;
}

.span12 {
  margin-left: 2%;
  width: 98%;
}

/* remove margins from every first child */
.span1:first-child, .span2:first-child, .span3:first-child, .span4:first-child, .span5:first-child, .span6:first-child, .span7:first-child, .span8:first-child, .span9:first-child, .span10:first-child, .span11:first-child, .span12:first-child {
  margin-left: 0;
}

/* @end */
/* @group no margin */
.span1-no-margin {
  width: 8.33333%;
  margin-left: 0;
}

.span2-no-margin {
  width: 16.66667%;
  margin-left: 0;
}

.span3-no-margin {
  width: 25%;
  margin-left: 0;
}

.span4-no-margin {
  width: 33.33333%;
  margin-left: 0;
}

.span5-no-margin {
  width: 41.66667%;
  margin-left: 0;
}

.span6-no-margin {
  width: 50%;
  margin-left: 0;
}

.span7-no-margin {
  width: 58.33333%;
  margin-left: 0;
}

.span8-no-margin {
  width: 66.66667%;
  margin-left: 0;
}

.span9-no-margin {
  width: 75%;
  margin-left: 0;
}

.span10-no-margin {
  width: 83.33333%;
  margin-left: 0;
}

.span11-no-margin {
  width: 91.66667%;
  margin-left: 0;
}

.span12-no-margin {
  width: 100%;
  margin-left: 0;
}

/* @end */
/* @group with a border */
.add-border {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
}
.add-border h2, .add-border p {
  margin-top: 0;
}

/* @end */
/* @group pull and push*/
.pull-span1 {
  left: 91.66667%;
  width: 8.33333%;
  margin-left: 0;
}

.pull-span2 {
  left: 83.33333%;
  width: 16.66667%;
  margin-left: 0;
}

.pull-span3 {
  left: 75%;
  width: 25%;
  margin-left: 0;
}

.pull-span4 {
  left: 66.66667%;
  width: 33.33333%;
  margin-left: 0;
}

.pull-span5 {
  left: 58.33333%;
  width: 41.66667%;
  margin-left: 0;
}

.pull-span6 {
  left: 50%;
  width: 50%;
  margin-left: 0;
}

.pull-span7 {
  left: 41.66667%;
  width: 58.33333%;
  margin-left: 0;
}

.pull-span8 {
  left: 33.33333%;
  width: 66.66667%;
  margin-left: 0;
}

.pull-span9 {
  left: 25%;
  width: 75%;
  margin-left: 0;
}

.pull-span10 {
  left: 16.66667%;
  width: 83.33333%;
  margin-left: 0;
}

.pull-span11 {
  left: 8.33333%;
  width: 91.66667%;
  margin-left: 0;
}

.pull-span12 {
  left: 0%;
  width: 100%;
  margin-left: 0;
}

.push-span1 {
  left: -91.66667%;
  width: 6.37333%;
  margin-left: 0;
}

.push-span2 {
  left: -83.33333%;
  width: 14.70667%;
  margin-left: 0;
}

.push-span3 {
  left: -75%;
  width: 23.04%;
  margin-left: 0;
}

.push-span4 {
  left: -66.66667%;
  width: 31.37333%;
  margin-left: 0;
}

.push-span5 {
  left: -58.33333%;
  width: 39.70667%;
  margin-left: 0;
}

.push-span6 {
  left: -50%;
  width: 48.04%;
  margin-left: 0;
}

.push-span7 {
  left: -41.66667%;
  width: 56.37333%;
  margin-left: 0;
}

.push-span8 {
  left: -33.33333%;
  width: 64.70667%;
  margin-left: 0;
}

.push-span9 {
  left: -25%;
  width: 73.04%;
  margin-left: 0;
}

.push-span10 {
  left: -16.66667%;
  width: 81.37333%;
  margin-left: 0;
}

.push-span11 {
  left: -8.33333%;
  width: 89.70667%;
  margin-left: 0;
}

.push-span12 {
  left: 0%;
  width: 98.04%;
  margin-left: 0;
}

/* @end */
/* @group offset*/
.offset1 {
  margin-left: 3.84333%;
}
.offset1:first-child {
  margin-left: 3.84333%;
}

.offset2 {
  margin-left: 12.17667%;
}
.offset2:first-child {
  margin-left: 12.17667%;
}

.offset3 {
  margin-left: 20.51%;
}
.offset3:first-child {
  margin-left: 20.51%;
}

.offset4 {
  margin-left: 28.84333%;
}
.offset4:first-child {
  margin-left: 28.84333%;
}

.offset5 {
  margin-left: 37.17667%;
}
.offset5:first-child {
  margin-left: 37.17667%;
}

.offset6 {
  margin-left: 45.51%;
}
.offset6:first-child {
  margin-left: 45.51%;
}

.offset7 {
  margin-left: 53.84333%;
}
.offset7:first-child {
  margin-left: 53.84333%;
}

.offset8 {
  margin-left: 62.17667%;
}
.offset8:first-child {
  margin-left: 62.17667%;
}

.offset9 {
  margin-left: 70.51%;
}
.offset9:first-child {
  margin-left: 70.51%;
}

.offset10 {
  margin-left: 78.84333%;
}
.offset10:first-child {
  margin-left: 78.84333%;
}

.offset11 {
  margin-left: 87.17667%;
}
.offset11:first-child {
  margin-left: 87.17667%;
}

/* @end */
