/* @group global classes */
/* @group global classes */
.container {
  overflow: hidden;
  padding: auto;
  position: relative;
}

.row {
  clear: both;
  position: relative;
  width: 100%;
}
.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

/* @end */
/* @group default grid*/
.span1 {
  padding-left: 2%;
  width: 8.33333%;
}

.span2 {
  padding-left: 2%;
  width: 16.66667%;
}

.span3 {
  padding-left: 2%;
  width: 25%;
}

.span4 {
  padding-left: 2%;
  width: 33.33333%;
}

.span5 {
  padding-left: 2%;
  width: 41.66667%;
}

.span6 {
  padding-left: 2%;
  width: 50%;
}

.span7 {
  padding-left: 2%;
  width: 58.33333%;
}

.span8 {
  padding-left: 2%;
  width: 66.66667%;
}

.span9 {
  padding-left: 2%;
  width: 75%;
}

.span10 {
  padding-left: 2%;
  width: 83.33333%;
}

.span11 {
  padding-left: 2%;
  width: 91.66667%;
}

.span12 {
  padding-left: 2%;
  width: 100%;
}

/* @group no padding */
.no-padding {
  padding-left: 0;
}

/* @end */
/* @group with a border */
.add-border {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
}
.add-border h2, .add-border p {
  margin-top: 0;
}

/* @end */
/* @group pull and push*/
.pull-span1 {
  left: 91.66667%;
  width: 8.33333%;
}

.pull-span2 {
  left: 83.33333%;
  width: 16.66667%;
}

.pull-span3 {
  left: 75%;
  width: 25%;
}

.pull-span4 {
  left: 66.66667%;
  width: 33.33333%;
}

.pull-span5 {
  left: 58.33333%;
  width: 41.66667%;
}

.pull-span6 {
  left: 50%;
  width: 50%;
}

.pull-span7 {
  left: 41.66667%;
  width: 58.33333%;
}

.pull-span8 {
  left: 33.33333%;
  width: 66.66667%;
}

.pull-span9 {
  left: 25%;
  width: 75%;
}

.pull-span10 {
  left: 16.66667%;
  width: 83.33333%;
}

.pull-span11 {
  left: 8.33333%;
  width: 91.66667%;
}

.pull-span12 {
  left: 0%;
  width: 100%;
}

.push-span1 {
  left: -91.66667%;
  width: 6.37333%;
}

.push-span2 {
  left: -83.33333%;
  width: 14.70667%;
}

.push-span3 {
  left: -75%;
  width: 23.04%;
}

.push-span4 {
  left: -66.66667%;
  width: 31.37333%;
}

.push-span5 {
  left: -58.33333%;
  width: 39.70667%;
}

.push-span6 {
  left: -50%;
  width: 48.04%;
}

.push-span7 {
  left: -41.66667%;
  width: 56.37333%;
}

.push-span8 {
  left: -33.33333%;
  width: 64.70667%;
}

.push-span9 {
  left: -25%;
  width: 73.04%;
}

.push-span10 {
  left: -16.66667%;
  width: 81.37333%;
}

.push-span11 {
  left: -8.33333%;
  width: 89.70667%;
}

.push-span12 {
  left: 0%;
  width: 98.04%;
}

/* @end */
/* @group offset*/
.offset1 {
  margin-left: 3.84333%;
}
.offset1:first-child {
  margin-left: 3.84333%;
}

.offset2 {
  margin-left: 12.17667%;
}
.offset2:first-child {
  margin-left: 12.17667%;
}

.offset3 {
  margin-left: 20.51%;
}
.offset3:first-child {
  margin-left: 20.51%;
}

.offset4 {
  margin-left: 28.84333%;
}
.offset4:first-child {
  margin-left: 28.84333%;
}

.offset5 {
  margin-left: 37.17667%;
}
.offset5:first-child {
  margin-left: 37.17667%;
}

.offset6 {
  margin-left: 45.51%;
}
.offset6:first-child {
  margin-left: 45.51%;
}

.offset7 {
  margin-left: 53.84333%;
}
.offset7:first-child {
  margin-left: 53.84333%;
}

.offset8 {
  margin-left: 62.17667%;
}
.offset8:first-child {
  margin-left: 62.17667%;
}

.offset9 {
  margin-left: 70.51%;
}
.offset9:first-child {
  margin-left: 70.51%;
}

.offset10 {
  margin-left: 78.84333%;
}
.offset10:first-child {
  margin-left: 78.84333%;
}

.offset11 {
  margin-left: 87.17667%;
}
.offset11:first-child {
  margin-left: 87.17667%;
}

/* @end */
@media only screen and (min-width: 320px) {
  /* Styles */
  /*start layout */
  .container {
    width: 95%;
    margin: auto;
  }

  header {
    clear: both;
  }

  .menu {
    width: 100%;
  }
  .menu ul {
    position: absolute;
    top: -100em;
    margin: 0;
    padding: 0;
  }
  .menu ul ul {
    position: static;
    padding: 0;
  }

  #nav:target {
    width: 100%;
    height: auto;
  }
  #nav:target ul {
    display: block;
    top: 0px;
    z-index: 10;
    width: 100% !important;
  }
  #nav:target a:link, #nav:target a:visited {
    display: block;
    background: white;
    color: #444444;
    border: 1px solid #cccccc;
    margin-bottom: -1px;
    padding: 5px;
    text-decoration: none;
  }
  #nav:target:after {
    content: "";
  }

  .col {
    min-width: 100%;
    position: static;
  }

  .mobileOnly {
    display: block;
    text-align: center;
    background: #d9d9d9;
    padding: 5px;
    text-decoration: none;
    color: #444444;
  }

  .hidenav:link, .hidenav:visited {
    display: none;
  }

  #nav:target .shownav:link, #nav:target .shownav:visited {
    display: none !important;
  }

  /* end layout */
}
/* @end*/
/* @group tablet layout */
@media only screen and (min-width: 768px) {
  /* Styles */
  .container {
    width: 100%;
    overflow: visible;
  }

  .col {
    /*override mobile */
    min-width: 0;
    position: relative;
  }

  /*iPads (landscape)*/
  .mobileOnly {
    display: none;
  }

  /* iPads (portrait) ----------- */
  /* end layout */
  .mobileOnly {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .ipad-break-landscape-expand {
    clear: both;
    width: 100%;
  }

  .ipad-break-landscape {
    width: 48%;
  }

  .no-ipad {
    display: none;
  }

  .sub-title {
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .container {
    width: 100%;
    padding: auto;
  }

  .ipad-break-portrait, .ipad-break-landscape {
    width: 48%;
  }

  .ipad-break-portrait-expand, .ipad-break-landscape-expand {
    width: 100%;
    clear: both;
  }

  .sub-title, .page-title {
    float: none;
    padding-left: 0;
  }

  .no-ipad {
    display: none;
  }
}
/* @end */
/* @group desktop layout */
@media only screen and (min-width: 1224px) {
  /* Styles */
  /*start layout */
  nav ul {
    width: 100%;
  }

  .container {
    width: 100%;
    overflow: visible;
  }

  .content {
    overflow: visible;
  }

  /* end layout */
}
