/*
Make sure you're working with the SCSS file!
*/
/* @group normalize */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: "Droid Serif", Georgia, serif;
}

body {
  margin: 0;
  background: white;
  color: #444444;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.7em;
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

nav ul,
nav ol {
  list-style: none;
  clear: both;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */
/* @group grid */
/* @group global classes */
.container {
  overflow: hidden;
  margin: auto;
  position: relative;
}

.row {
  clear: both;
  position: relative;
  width: 100%;
}
.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0 1.5%;
}

.flush-left {
  margin-left: 0;
}

.flush-right {
  margin-right: 0;
}

.no-margin {
  margin: 0;
}

/* @end */
/* @group default grid*/
.span1 {
  width: 5.33333%;
}

.span2 {
  width: 13.66667%;
}

.span3 {
  width: 22%;
}

.span4 {
  width: 30.33333%;
}

.span5 {
  width: 38.66667%;
}

.span6 {
  width: 47%;
}

.span7 {
  width: 55.33333%;
}

.span8 {
  width: 63.66667%;
}

.span9 {
  width: 72%;
}

.span10 {
  width: 80.33333%;
}

.span11 {
  width: 88.66667%;
}

.span12 {
  width: 97%;
}

/* remove margins from every first child */
/* @end */
/* @group no margin */
/* @end */
/* @group with a border */
.add-border {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
}
.add-border h2, .add-border p {
  margin-top: 0;
}

/* @end */
/* @group pull and push*/
.pull-span1 {
  left: 91.66667%;
  width: 5.33333%;
}

.pull-span2 {
  left: 83.33333%;
  width: 13.66667%;
}

.pull-span3 {
  left: 75%;
  width: 22%;
}

.pull-span4 {
  left: 66.66667%;
  width: 30.33333%;
}

.pull-span5 {
  left: 58.33333%;
  width: 38.66667%;
}

.pull-span6 {
  left: 50%;
  width: 47%;
}

.pull-span7 {
  left: 41.66667%;
  width: 55.33333%;
}

.pull-span8 {
  left: 33.33333%;
  width: 63.66667%;
}

.pull-span9 {
  left: 25%;
  width: 72%;
}

.pull-span10 {
  left: 16.66667%;
  width: 80.33333%;
}

.pull-span11 {
  left: 8.33333%;
  width: 88.66667%;
}

.pull-span12 {
  left: 0%;
  width: 97%;
}

.push-span1 {
  left: -91.66667%;
  width: 5.33333%;
}

.push-span2 {
  left: -83.33333%;
  width: 13.66667%;
}

.push-span3 {
  left: -75%;
  width: 22%;
}

.push-span4 {
  left: -66.66667%;
  width: 30.33333%;
}

.push-span5 {
  left: -58.33333%;
  width: 38.66667%;
}

.push-span6 {
  left: -50%;
  width: 47%;
}

.push-span7 {
  left: -41.66667%;
  width: 55.33333%;
}

.push-span8 {
  left: -33.33333%;
  width: 63.66667%;
}

.push-span9 {
  left: -25%;
  width: 72%;
}

.push-span10 {
  left: -16.66667%;
  width: 80.33333%;
}

.push-span11 {
  left: -8.33333%;
  width: 88.66667%;
}

.push-span12 {
  left: 0%;
  width: 97%;
}

/* @end */
/* @group offset*/
.offset1 {
  margin-left: 8.33333%;
}

.offset2 {
  margin-left: 16.66667%;
}

.offset3 {
  margin-left: 25%;
}

.offset4 {
  margin-left: 33.33333%;
}

.offset5 {
  margin-left: 41.66667%;
}

.offset6 {
  margin-left: 50%;
}

.offset7 {
  margin-left: 58.33333%;
}

.offset8 {
  margin-left: 66.66667%;
}

.offset9 {
  margin-left: 75%;
}

.offset10 {
  margin-left: 83.33333%;
}

.offset11 {
  margin-left: 91.66667%;
}

/* @end */
/* @end */
/* @group type and images */
/*image definitions and usefull classes*/
img {
  max-width: 100%;
  margin: 1em;
}

figure, .cap {
  font-size: 0.8em;
  display: block;
  margin: 0 1em 0;
}

.cap img, figcaption {
  display: block;
  margin-bottom: 0;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.cleared {
  clear: both;
}

/*links*/
a:link {
  color: #5ebdee;
}
a:visited {
  color: #d05517;
}
a:hover, a:active {
  color: #0d5173;
}

/* @end */
/* @group mobile layout */
@media only screen and (min-width: 320px) {
  /* Styles */
}
/* @end*/
/* @group tablet layout */
@media only screen and (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
}
/* @end */
/* @group desktop layout */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* @end */
/* @group forms */
input, textarea, select[size] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  background: white;
  padding: 5px;
  margin: 2px;
}

select {
  margin: 5px;
}

input[type=date], input[type=time], input[type=color], input[type=datetime] {
  padding: 0;
  background: #fff;
}
input[type=range] {
  background: none;
  border: none;
  box-shadow: none;
}
input[type=submit], .button {
  background: #FFFFFFFF;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, white 0%, #cccccc 100%);
  background: -o-linear-gradient(top, white 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
  box-shadow: none;
}

textarea {
  width: 90%;
  height: 7em;
}

input:focus, textarea:focus {
  background-color: #fff;
  background-image: none;
  outline: none;
  box-shadow: none;
}

/* @end */
/* @group required */
/* @end */
/* @group utility classes */
.action {
  background: #FFEB7F47;
  background: #eb7f47;
  background: -moz-linear-gradient(top, #eb7f47 0%, #b84c14 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb7f47), color-stop(100%, #b84c14));
  background: -webkit-linear-gradient(top, #eb7f47 0%, #b84c14 100%);
  background: -o-linear-gradient(top, #eb7f47 0%, #b84c14 100%);
  background: linear-gradient(to bottom, #eb7f47 0%, #b84c14 100%);
  text-shadow: 0 1px 1px black;
  padding: 5px 10px;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.action:link, .action:visited {
  color: white;
}
.action:hover {
  text-shadow: 0 -1px 1px black;
}
.action:active {
  background: #FFB84C14;
  background: #b84c14;
  background: -moz-linear-gradient(top, #b84c14 0%, #eb7f47 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b84c14), color-stop(100%, #eb7f47));
  background: -webkit-linear-gradient(top, #b84c14 0%, #eb7f47 100%);
  background: -o-linear-gradient(top, #b84c14 0%, #eb7f47 100%);
  background: linear-gradient(to bottom, #b84c14 0%, #eb7f47 100%);
}

.button {
  text-shadow: 0 1px 1px white;
  padding: 5px 10px;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.button:link, .button:visited {
  color: black;
}
.button:hover {
  text-shadow: 0 -1px 1px white;
}
.button:active {
  background: #FFCCCCCC;
  background: #cccccc;
  background: -moz-linear-gradient(top, #cccccc 0%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #cccccc 0%, white 100%);
  background: -o-linear-gradient(top, #cccccc 0%, white 100%);
  background: linear-gradient(to bottom, #cccccc 0%, #ffffff 100%);
}

.zero-margin {
  margin: 0;
}

.zero-padding {
  padding: 0;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:after, .clearfix:before {
  content: "";
  display: table;
  clear: both;
}

.chromeframe {
  clear: both;
}

/* @end */
.lt-ie9 .mobileOnly {
  display: none;
}

@media print {
  body {
    margin: 0.25in 0.5in;
  }

  nav, header {
    display: none;
  }

  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .chromeframe {
    display: none !important;
  }
}
