/*start layout */
// grid definitions
$desktopPageWidth: 80%;
$maxWidth:1200px;
.col {
  min-width: 0;
  position: relative;
  //  margin-left: percentage($gutter);
}

nav ul {
  width: $desktopPageWidth;
}

//@include establish-baseline();
.container {
  width: $desktopPageWidth;
  max-width: $maxWidth;
}
.no-desktop{
	display:none;
}

/* end layout */
