/* @group global layout */
$pageWidth: $ipadPageWidthLandscape;
.container {
  width: $pageWidth;
  overflow:visible;
}
.col{
/*override mobile */
  min-width:0;
  position:relative;
}
/*iPads (landscape)*/
.mobileOnly{display:none;}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .ipad-break-landscape-expand {
    clear: both;
    width: 100%;
  }
  .ipad-break-landscape {
    width: 48%;
  }
  .no-ipad {
    display: none;
  }
  .sub-title {
    margin-left: 0;
  }
}

/* iPads (portrait) ----------- */

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  $pageWidth: $ipadPageWidthPortrait;
  .container {
    width: $pageWidth;
    margin: auto;
  }
  .ipad-break-portrait, .ipad-break-landscape {
    width: 48%;
  }
  .ipad-break-portrait-expand, .ipad-break-landscape-expand {
    width: 100%;
    clear: both;
  }
  .sub-title,.page-title {
    float: none;
    margin-left: 0;
  }
  .no-ipad {
    display: none;
  }
}

/* end layout */
