/* @group global classes */
// grid definitions
@import "mixins.scss";

$pageWidth: 100%;
$desktopPageWidth: $pageWidth;
$ipadPageWidthPortrait: 100%;
$ipadPageWidthLandscape: 100%;
$numCols: 12;
$gutter: 0.02;
$offset: 5.5;

// classes
$classSlug: span !default;
$no-margin: no-margin !default;
$addBorder: add-border !default;
$push: push !default;
$pull: pull !default;
$offsetSlug: offset !default;

.container {
  overflow: hidden;
  margin: auto;
  position: relative;
}

.row {
  //  overflow: hidden;
  clear: both;
  position: relative;
  width: 100%;
  @include clearfix;
}

.col {
  float: left;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

/* @end */
/* @group default grid*/
@for $i from 1 through $numCols {
  .#{$classSlug}#{$i} {
    $xwidth: percentage($i / $numCols);
    margin-left: percentage($gutter);
    width: $xwidth - $gutter * 100;
    // because the gutter is a percentage width, the var is exprssed as a decimal, this number multiplied by the decimal provides the optimum collumn width.
 
  }
}

/* remove margins from every first child */
.span1:first-child {
  margin-left: 0;
}

@for $i from 1 through $numCols {
  .#{$classSlug}#{$i}:first-child {
    @extend .span1:first-child;
  }
}

/* @end */
/* @group no margin */
@for $i from 1 through $numCols {
  .#{$classSlug}#{$i}-#{$no-margin} {
    $xwidth: percentage($i / $numCols);
    width: $xwidth;
    margin-left: 0;
  }
}

/* @end */
/* @group with a border */
.#{$addBorder} {
  @include addBorder(1px, $borderStyle, $borderColor);
}

/* @end */
/* @group pull and push*/
@for $i from 1 through $numCols {
  .#{$pull}-#{$classSlug}#{$i} {
    $xwidth: percentage($i / $numCols);
    $offsetPos: $xwidth;
    left: 100 - $xwidth;
    width: $xwidth;
    margin-left: 0;
  }
}

@for $i from 1 through $numCols {
  .#{$push}-#{$classSlug}#{$i} {
    $xwidth: percentage($i / $numCols);
    $offsetPos: $xwidth;
    left: (100 - $xwidth) * -1;
    //@include clearfix;
    width: $xwidth - $gutter * 98;
    margin-left: 0;
  }
}

/* @end */
/* @group offset*/
@for $i from 1 through $numCols - 1 {
  .#{$offsetSlug}#{$i} {
    $xwidth: percentage($i / $numCols);
    margin-left: $xwidth - 4.49;
    &:first-child {
      margin-left: $xwidth - 4.49;
    }
  }
}

/* @end */
@media only screen and (min-width: 320px) {
  /* Styles */
  @import "_mobile_layout.scss";
}

/* @end*/
/* @group tablet layout */
@media only screen and (min-width: 768px) {
  /* Styles */
  .container {
    width: $pageWidth;
    overflow: visible;
  }
  .col {
    /*override mobile */
    min-width: 0;
    position: relative;
  }
  /*iPads (landscape)*/
  .mobileOnly {
    display: none;
  }
  @media only screen and (max-width: 1024px) and (orientation: landscape) {
    .ipad-break-landscape-expand {
      clear: both;
      width: 100%;
    }
    .ipad-break-landscape {
      width: 48%;
    }
    .no-ipad {
      display: none;
    }
    .sub-title {
      margin-left: 0;
    }
  }
  /* iPads (portrait) ----------- */
  @media only screen and (max-width: 1024px) and (orientation: portrait) {
    $pageWidth: $ipadPageWidthPortrait;
    .container {
      width: $pageWidth;
      margin: auto;
    }
    .ipad-break-portrait, .ipad-break-landscape {
      width: 48%;
    }
    .ipad-break-portrait-expand, .ipad-break-landscape-expand {
      width: 100%;
      clear: both;
    }
    .sub-title,.page-title {
      float: none;
      margin-left: 0;
    }
    .no-ipad {
      display: none;
    }
  }
  /* end layout */
  .mobileOnly {
    display: none;
  }
}

/* @end */
/* @group desktop layout */

@media only screen and (min-width: 1224px) {
  /* Styles */
    /*start layout */
    $pageWidth: $desktopPageWidth;

    .col {
    //  min-width: 0;
    //  position: relative;
      //  margin-left: percentage($gutter);
    }

    nav ul {
      width: $pageWidth;
    }

    //@include establish-baseline();
    .container {
      width: $pageWidth;
      overflow: visible;
    }
    .content{
      overflow: visible;
    }

    /* end layout */
  
}
