/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Grid with margins and border */
/* line 2, ../sass/_grid.scss */
.container {
  width: 90%;
  overflow: hidden;
  margin: auto;
  color: #333333;
}

/* line 8, ../sass/_grid.scss */
.row {
  overflow: hidden;
  clear: both;
  position: relative;
}
/* line 3, ../sass/_mixins.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../sass/_grid.scss */
.col {
  float: left;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

/*main "default" grid*/
/* line 22, ../sass/_grid.scss */
.span1 {
  width: 6.37333%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span1:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span2 {
  width: 14.70667%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span2:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span3 {
  width: 23.04%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span3:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span4 {
  width: 31.37333%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span4:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span5 {
  width: 39.70667%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span5:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span6 {
  width: 48.04%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span6:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span7 {
  width: 56.37333%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span7:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span8 {
  width: 64.70667%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span8:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span9 {
  width: 73.04%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span9:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span10 {
  width: 81.37333%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span10:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span11 {
  width: 89.70667%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span11:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* line 22, ../sass/_grid.scss */
.span12 {
  width: 98.04%;
  margin-left: 2%;
}
/* line 28, ../sass/_grid.scss */
.span12:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* no margin */
/* line 36, ../sass/_grid.scss */
.span1-no-margin {
  width: 8.33333%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span2-no-margin {
  width: 16.66667%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span3-no-margin {
  width: 25%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span4-no-margin {
  width: 33.33333%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span5-no-margin {
  width: 41.66667%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span6-no-margin {
  width: 50%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span7-no-margin {
  width: 58.33333%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span8-no-margin {
  width: 66.66667%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span9-no-margin {
  width: 75%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span10-no-margin {
  width: 83.33333%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span11-no-margin {
  width: 91.66667%;
  margin-left: 0;
}

/* line 36, ../sass/_grid.scss */
.span12-no-margin {
  width: 100%;
  margin-left: 0;
}

/* with a border */
/* line 44, ../sass/_grid.scss */
.add-border {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
}
/* line 26, ../sass/_mixins.scss */
.add-border h2, .add-border p {
  margin-top: 0;
}

/*pull and push*/
/* line 54, ../sass/_grid.scss */
.pull-span1 {
  left: 91.66667%;
  width: 8.33333%;
}

/* line 54, ../sass/_grid.scss */
.pull-span2 {
  left: 83.33333%;
  width: 16.66667%;
}

/* line 54, ../sass/_grid.scss */
.pull-span3 {
  left: 75%;
  width: 25%;
}

/* line 54, ../sass/_grid.scss */
.pull-span4 {
  left: 66.66667%;
  width: 33.33333%;
}

/* line 54, ../sass/_grid.scss */
.pull-span5 {
  left: 58.33333%;
  width: 41.66667%;
}

/* line 54, ../sass/_grid.scss */
.pull-span6 {
  left: 50%;
  width: 50%;
}

/* line 54, ../sass/_grid.scss */
.pull-span7 {
  left: 41.66667%;
  width: 58.33333%;
}

/* line 54, ../sass/_grid.scss */
.pull-span8 {
  left: 33.33333%;
  width: 66.66667%;
}

/* line 54, ../sass/_grid.scss */
.pull-span9 {
  left: 25%;
  width: 75%;
}

/* line 54, ../sass/_grid.scss */
.pull-span10 {
  left: 16.66667%;
  width: 83.33333%;
}

/* line 54, ../sass/_grid.scss */
.pull-span11 {
  left: 8.33333%;
  width: 91.66667%;
}

/* line 54, ../sass/_grid.scss */
.pull-span12 {
  left: 0%;
  width: 100%;
}

/* line 64, ../sass/_grid.scss */
.push-span1 {
  left: -91.66667%;
  width: 6.37333%;
}

/* line 64, ../sass/_grid.scss */
.push-span2 {
  left: -83.33333%;
  width: 14.70667%;
}

/* line 64, ../sass/_grid.scss */
.push-span3 {
  left: -75%;
  width: 23.04%;
}

/* line 64, ../sass/_grid.scss */
.push-span4 {
  left: -66.66667%;
  width: 31.37333%;
}

/* line 64, ../sass/_grid.scss */
.push-span5 {
  left: -58.33333%;
  width: 39.70667%;
}

/* line 64, ../sass/_grid.scss */
.push-span6 {
  left: -50%;
  width: 48.04%;
}

/* line 64, ../sass/_grid.scss */
.push-span7 {
  left: -41.66667%;
  width: 56.37333%;
}

/* line 64, ../sass/_grid.scss */
.push-span8 {
  left: -33.33333%;
  width: 64.70667%;
}

/* line 64, ../sass/_grid.scss */
.push-span9 {
  left: -25%;
  width: 73.04%;
}

/* line 64, ../sass/_grid.scss */
.push-span10 {
  left: -16.66667%;
  width: 81.37333%;
}

/* line 64, ../sass/_grid.scss */
.push-span11 {
  left: -8.33333%;
  width: 89.70667%;
}

/* line 64, ../sass/_grid.scss */
.push-span12 {
  left: 0%;
  width: 98.04%;
}

/*offset*/
/* line 73, ../sass/_grid.scss */
.offset1 {
  margin-left: 3.84333%;
}

/* line 73, ../sass/_grid.scss */
.offset2 {
  margin-left: 12.17667%;
}

/* line 73, ../sass/_grid.scss */
.offset3 {
  margin-left: 20.51%;
}

/* line 73, ../sass/_grid.scss */
.offset4 {
  margin-left: 28.84333%;
}

/* line 73, ../sass/_grid.scss */
.offset5 {
  margin-left: 37.17667%;
}

/* line 73, ../sass/_grid.scss */
.offset6 {
  margin-left: 45.51%;
}

/* line 73, ../sass/_grid.scss */
.offset7 {
  margin-left: 53.84333%;
}

/* line 73, ../sass/_grid.scss */
.offset8 {
  margin-left: 62.17667%;
}

/* line 73, ../sass/_grid.scss */
.offset9 {
  margin-left: 70.51%;
}

/* line 73, ../sass/_grid.scss */
.offset10 {
  margin-left: 78.84333%;
}

/* line 73, ../sass/_grid.scss */
.offset11 {
  margin-left: 87.17667%;
}
