/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Grid with margins and border */
.container {
  width: 1200px;
  overflow: hidden;
  margin: auto;
  color: #333333;
}

.row {
  overflow: hidden;
  clear: both;
  position: relative;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

/*main "default" grid*/
.span1 {
  width: 6.37333%;
  margin-left: 2%;
}
.span1:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span2 {
  width: 14.70667%;
  margin-left: 2%;
}
.span2:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span3 {
  width: 23.04%;
  margin-left: 2%;
}
.span3:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span4 {
  width: 31.37333%;
  margin-left: 2%;
}
.span4:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span5 {
  width: 39.70667%;
  margin-left: 2%;
}
.span5:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span6 {
  width: 48.04%;
  margin-left: 2%;
}
.span6:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span7 {
  width: 56.37333%;
  margin-left: 2%;
}
.span7:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span8 {
  width: 64.70667%;
  margin-left: 2%;
}
.span8:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span9 {
  width: 73.04%;
  margin-left: 2%;
}
.span9:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span10 {
  width: 81.37333%;
  margin-left: 2%;
}
.span10:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span11 {
  width: 89.70667%;
  margin-left: 2%;
}
.span11:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

.span12 {
  width: 98.04%;
  margin-left: 2%;
}
.span12:first-child {
  margin-left: 0;
  /*remove margin from every first element in a row */
}

/* no margin */
.span1-no-margin {
  width: 8.33333%;
  margin-left: 0;
}

.span2-no-margin {
  width: 16.66667%;
  margin-left: 0;
}

.span3-no-margin {
  width: 25%;
  margin-left: 0;
}

.span4-no-margin {
  width: 33.33333%;
  margin-left: 0;
}

.span5-no-margin {
  width: 41.66667%;
  margin-left: 0;
}

.span6-no-margin {
  width: 50%;
  margin-left: 0;
}

.span7-no-margin {
  width: 58.33333%;
  margin-left: 0;
}

.span8-no-margin {
  width: 66.66667%;
  margin-left: 0;
}

.span9-no-margin {
  width: 75%;
  margin-left: 0;
}

.span10-no-margin {
  width: 83.33333%;
  margin-left: 0;
}

.span11-no-margin {
  width: 91.66667%;
  margin-left: 0;
}

.span12-no-margin {
  width: 100%;
  margin-left: 0;
}

/* with a border */
.add-border-span1 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 2.83333%;
}
.add-border-span1 h2, .add-border-span1 p {
  margin-top: 0;
}

.add-border-span2 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 11.16667%;
}
.add-border-span2 h2, .add-border-span2 p {
  margin-top: 0;
}

.add-border-span3 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 19.5%;
}
.add-border-span3 h2, .add-border-span3 p {
  margin-top: 0;
}

.add-border-span4 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 27.83333%;
}
.add-border-span4 h2, .add-border-span4 p {
  margin-top: 0;
}

.add-border-span5 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 36.16667%;
}
.add-border-span5 h2, .add-border-span5 p {
  margin-top: 0;
}

.add-border-span6 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 44.5%;
}
.add-border-span6 h2, .add-border-span6 p {
  margin-top: 0;
}

.add-border-span7 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 52.83333%;
}
.add-border-span7 h2, .add-border-span7 p {
  margin-top: 0;
}

.add-border-span8 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 61.16667%;
}
.add-border-span8 h2, .add-border-span8 p {
  margin-top: 0;
}

.add-border-span9 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 69.5%;
}
.add-border-span9 h2, .add-border-span9 p {
  margin-top: 0;
}

.add-border-span10 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 77.83333%;
}
.add-border-span10 h2, .add-border-span10 p {
  margin-top: 0;
}

.add-border-span11 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 86.16667%;
}
.add-border-span11 h2, .add-border-span11 p {
  margin-top: 0;
}

.add-border-span12 {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
  width: 94.5%;
}
.add-border-span12 h2, .add-border-span12 p {
  margin-top: 0;
}

/*pull and push*/
.pull-span1 {
  left: 91.66667%;
  width: 8.33333%;
}

.pull-span2 {
  left: 83.33333%;
  width: 16.66667%;
}

.pull-span3 {
  left: 75%;
  width: 25%;
}

.pull-span4 {
  left: 66.66667%;
  width: 33.33333%;
}

.pull-span5 {
  left: 58.33333%;
  width: 41.66667%;
}

.pull-span6 {
  left: 50%;
  width: 50%;
}

.pull-span7 {
  left: 41.66667%;
  width: 58.33333%;
}

.pull-span8 {
  left: 33.33333%;
  width: 66.66667%;
}

.pull-span9 {
  left: 25%;
  width: 75%;
}

.pull-span10 {
  left: 16.66667%;
  width: 83.33333%;
}

.pull-span11 {
  left: 8.33333%;
  width: 91.66667%;
}

.pull-span12 {
  left: 0%;
  width: 100%;
}

.push-span1 {
  left: -91.66667%;
  width: 6.37333%;
}

.push-span2 {
  left: -83.33333%;
  width: 14.70667%;
}

.push-span3 {
  left: -75%;
  width: 23.04%;
}

.push-span4 {
  left: -66.66667%;
  width: 31.37333%;
}

.push-span5 {
  left: -58.33333%;
  width: 39.70667%;
}

.push-span6 {
  left: -50%;
  width: 48.04%;
}

.push-span7 {
  left: -41.66667%;
  width: 56.37333%;
}

.push-span8 {
  left: -33.33333%;
  width: 64.70667%;
}

.push-span9 {
  left: -25%;
  width: 73.04%;
}

.push-span10 {
  left: -16.66667%;
  width: 81.37333%;
}

.push-span11 {
  left: -8.33333%;
  width: 89.70667%;
}

.push-span12 {
  left: 0%;
  width: 98.04%;
}

/*offset*/
.offset1 {
  margin-left: 3.84333%;
}

.offset2 {
  margin-left: 12.17667%;
}

.offset3 {
  margin-left: 20.51%;
}

.offset4 {
  margin-left: 28.84333%;
}

.offset5 {
  margin-left: 37.17667%;
}

.offset6 {
  margin-left: 45.51%;
}

.offset7 {
  margin-left: 53.84333%;
}

.offset8 {
  margin-left: 62.17667%;
}

.offset9 {
  margin-left: 70.51%;
}

.offset10 {
  margin-left: 78.84333%;
}

.offset11 {
  margin-left: 87.17667%;
}
