/* @group normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: "Droid Serif", Georgia, serif;
}

body {
  margin: 0;
  background: whitesmoke;
  color: #333333;
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

nav ul,
nav ol {
  list-style: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */
/* @group grid */
/* @group global classes */
.container {
  overflow: hidden;
  margin: auto;
  color: #333333;
  position: relative;
}

.row {
  overflow: hidden;
  clear: both;
  position: relative;
  width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

/* @end */
/* @group default grid*/
.span1 {
  width: 6.33333%;
  margin-left: 2%;
}

.span2 {
  width: 14.66667%;
  margin-left: 2%;
}

.span3 {
  width: 23%;
  margin-left: 2%;
}

.span4 {
  width: 31.33333%;
  margin-left: 2%;
}

.span5 {
  width: 39.66667%;
  margin-left: 2%;
}

.span6 {
  width: 48%;
  margin-left: 2%;
}

.span7 {
  width: 56.33333%;
  margin-left: 2%;
}

.span8 {
  width: 64.66667%;
  margin-left: 2%;
}

.span9 {
  width: 73%;
  margin-left: 2%;
}

.span10 {
  width: 81.33333%;
  margin-left: 2%;
}

.span11 {
  width: 89.66667%;
  margin-left: 2%;
}

.span12 {
  width: 98%;
  margin-left: 2%;
}

/* remove margins from every first child */
.span1:first-child, .span2:first-child, .span3:first-child, .span4:first-child, .span5:first-child, .span6:first-child, .span7:first-child, .span8:first-child, .span9:first-child, .span10:first-child, .span11:first-child, .span12:first-child {
  margin-left: 0;
}

/* @end */
/* @group no margin */
.span1-no-margin {
  width: 8.33333%;
  margin-left: 0;
}

.span2-no-margin {
  width: 16.66667%;
  margin-left: 0;
}

.span3-no-margin {
  width: 25%;
  margin-left: 0;
}

.span4-no-margin {
  width: 33.33333%;
  margin-left: 0;
}

.span5-no-margin {
  width: 41.66667%;
  margin-left: 0;
}

.span6-no-margin {
  width: 50%;
  margin-left: 0;
}

.span7-no-margin {
  width: 58.33333%;
  margin-left: 0;
}

.span8-no-margin {
  width: 66.66667%;
  margin-left: 0;
}

.span9-no-margin {
  width: 75%;
  margin-left: 0;
}

.span10-no-margin {
  width: 83.33333%;
  margin-left: 0;
}

.span11-no-margin {
  width: 91.66667%;
  margin-left: 0;
}

.span12-no-margin {
  width: 100%;
  margin-left: 0;
}

/* @end */
/* @group with a border */
.add-border {
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.7875em;
  margin-top: 0.85em;
  border-color: black;
}
.add-border h2, .add-border p {
  margin-top: 0;
}

/* @end */
/* @group pull and push*/
.pull-span1 {
  left: 91.66667%;
  width: 8.33333%;
}

.pull-span2 {
  left: 83.33333%;
  width: 16.66667%;
}

.pull-span3 {
  left: 75%;
  width: 25%;
}

.pull-span4 {
  left: 66.66667%;
  width: 33.33333%;
}

.pull-span5 {
  left: 58.33333%;
  width: 41.66667%;
}

.pull-span6 {
  left: 50%;
  width: 50%;
}

.pull-span7 {
  left: 41.66667%;
  width: 58.33333%;
}

.pull-span8 {
  left: 33.33333%;
  width: 66.66667%;
}

.pull-span9 {
  left: 25%;
  width: 75%;
}

.pull-span10 {
  left: 16.66667%;
  width: 83.33333%;
}

.pull-span11 {
  left: 8.33333%;
  width: 91.66667%;
}

.pull-span12 {
  left: 0%;
  width: 100%;
}

.push-span1 {
  left: -91.66667%;
  width: 6.37333%;
}

.push-span2 {
  left: -83.33333%;
  width: 14.70667%;
}

.push-span3 {
  left: -75%;
  width: 23.04%;
}

.push-span4 {
  left: -66.66667%;
  width: 31.37333%;
}

.push-span5 {
  left: -58.33333%;
  width: 39.70667%;
}

.push-span6 {
  left: -50%;
  width: 48.04%;
}

.push-span7 {
  left: -41.66667%;
  width: 56.37333%;
}

.push-span8 {
  left: -33.33333%;
  width: 64.70667%;
}

.push-span9 {
  left: -25%;
  width: 73.04%;
}

.push-span10 {
  left: -16.66667%;
  width: 81.37333%;
}

.push-span11 {
  left: -8.33333%;
  width: 89.70667%;
}

.push-span12 {
  left: 0%;
  width: 98.04%;
}

/* @end */
/* @group offset*/
.offset1 {
  margin-left: 3.84333%;
}

.offset2 {
  margin-left: 12.17667%;
}

.offset3 {
  margin-left: 20.51%;
}

.offset4 {
  margin-left: 28.84333%;
}

.offset5 {
  margin-left: 37.17667%;
}

.offset6 {
  margin-left: 45.51%;
}

.offset7 {
  margin-left: 53.84333%;
}

.offset8 {
  margin-left: 62.17667%;
}

.offset9 {
  margin-left: 70.51%;
}

.offset10 {
  margin-left: 78.84333%;
}

.offset11 {
  margin-left: 87.17667%;
}

/* @end */
/* @end */
/* @group type and images */
/*image definitions and usefull classes*/
img {
  max-width: 100%;
  margin: 1em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center {
  margin: auto;
  display: block;
}

figure, .cap {
  font-size: 0.8em;
  display: block;
  margin: 0 1em 0;
}

.cap img, figcaption {
  display: block;
  margin-bottom: 0;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.cleared {
  clear: both;
}

/*links*/
a:link {
  color: #1e1e8c;
}
a:visited {
  color: #8c1e1e;
}
a:hover, a:active {
  color: #151562;
}

/* @end */
/* @group grid */
nav {
  clear: both;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #c2c2c2;
  background: -moz-linear-gradient(top, #c2c2c2 0%, rgba(230, 230, 230, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c2c2c2), color-stop(100%, rgba(230, 230, 230, 0.6)));
  background: -webkit-linear-gradient(top, #c2c2c2 0%, rgba(230, 230, 230, 0.6) 100%);
  background: -o-linear-gradient(top, #c2c2c2 0%, rgba(230, 230, 230, 0.6) 100%);
  background: linear-gradient(to bottom, #c2c2c2 0%, rgba(230, 230, 230, 0.6) 100%);
  line-height: 50px;
}
nav ul {
  margin: 0 auto;
  width: 80%;
  background: rgba(250, 250, 250, 0.5);
  overflow: hidden;
}
nav li {
  float: left;
  position: relative;
  z-index: 5;
}
nav li a {
  display: block;
  background: none;
  margin: -1px 0 0;
  padding: 5px 17px;
}
nav li a:link, nav li a:visited {
  color: #333333;
  text-decoration: none;
  border: 1px solid transparent;
}
nav li a.active {
  border: 1px solid #b3b3b3;
  border-bottom: none;
  background: whitesmoke;
  background: -moz-linear-gradient(top, whitesmoke 0%, rgba(245, 245, 245, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, rgba(245, 245, 245, 0)));
  background: -webkit-linear-gradient(top, whitesmoke 0%, rgba(245, 245, 245, 0) 100%);
  background: -o-linear-gradient(top, whitesmoke 0%, rgba(245, 245, 245, 0) 100%);
  background: linear-gradient(to bottom, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}
nav li a:hover {
  border: 1px solid #b3b3b3;
  border-bottom: none;
  background: white;
  background: -moz-linear-gradient(top, white 0%, rgba(245, 245, 245, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(245, 245, 245, 0)));
  background: -webkit-linear-gradient(top, white 0%, rgba(245, 245, 245, 0) 100%);
  background: -o-linear-gradient(top, white 0%, rgba(245, 245, 245, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 0%, rgba(245, 245, 245, 0) 100%);
}

/* @end */
/* @group mobile layout */
@media only screen and (max-width: 767px) {
  /* Styles */
  /*start layout */
  .container {
    width: 95% !important;
    margin: auto;
  }

  header {
    clear: both;
  }
  header h1 {
    font-size: 1.5em;
    margin-bottom: 0.05em;
    float: none !important;
  }

  .sidebar, .body {
    float: none;
    clear: both;
  }

  nav {
    width: 100% !important;
    overflow: hidden;
  }
  nav ul {
    position: absolute;
    top: -100em;
    margin: 0;
    padding: 0;
  }
  nav ul ul {
    padding: 0;
  }

  #nav:target {
    width: 100%;
    height: auto;
  }
  #nav:target ul {
    display: block;
    top: 30px;
    z-index: 10;
    width: 100% !important;
  }
  #nav:target a:link, #nav:target a:visited {
    display: block;
    background: rgba(230, 230, 230, 0.6);
    color: #333333;
    border: 1px solid #cccccc;
    margin-bottom: -1px;
    padding: 5px;
    text-decoration: none;
  }
  #nav:target:after {
    content: "";
  }

  .col {
    width: 100%;
    margin: 0;
    position: static;
  }

  .mobileOnly:link, .mobileOnly:visited, #nav:target .mobileOnly:link, #nav:target .mobileOnly:visited {
    display: block;
    text-align: center;
    background: #cfcfcf;
    padding: 5px;
    text-decoration: none;
    color: #333333;
  }

  .mobileOnly.hidenav:link, .mobileOnly.hidenav:visited {
    display: none;
  }

  #nav:target .shownav:link, #nav:target .shownav:visited {
    display: none !important;
  }

  /* end layout */
  img, .cap img, .cap {
    margin: 5px;
  }

  .cap {
    width: 200px;
    margin: 10px;
  }
}
/* @end*/
/* @group tablet layout */
@media only screen and (min-width: 768px) {
  /* Styles */
  /* @group global layout */
  header {
    clear: both;
    margin-top: 60px;
  }

  .sub-title {
    margin-left: 20px;
  }

  .col {
    min-width: 48%;
    position: static;
  }

  .span4:last-child, .span4-no-margin:last-child, .span4-push:last-child, .span4-pull:last-child {
    min-width: 100%;
  }

  * html {
    font-size: 100%;
  }

  html {
    font-size: 16px;
    line-height: 1.7em;
  }

  .container {
    width: 80%;
  }

  /*iPads (landscape)*/
  /* iPads (portrait) ----------- */
  /* end layout */
  .mobileOnly {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .no-ipad {
    display: none;
  }

  .sub-title {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .container {
    width: 80%;
    margin: auto;
  }

  nav ul {
    margin: 0 auto;
    width: 100%;
    background: rgba(250, 250, 250, 0.5);
    overflow: hidden;
  }

  nav li a {
    padding: 10px;
  }

  .ipad-break-portrait, .ipad-break-landscape {
    width: 48%;
  }

  .ipad-break-portrait-expand, .ipad-break-landscape-expand {
    width: 100%;
    clear: both;
  }

  .sub-title, .page-title {
    float: none;
    margin-left: 0;
  }

  .no-ipad {
    display: none;
  }
}
/* @end */
/* @group desktop layout */
@media only screen and (min-width: 1224px) {
  /* Styles */
  /*start layout */
  .col {
    min-width: 0;
    position: relative;
  }

  .span4:last-child, .span4-no-margin:last-child, .span4-push:last-child, .span4-pull:last-child {
    min-width: 0;
  }

  nav ul {
    width: 80%;
  }

  * html {
    font-size: 112.5%;
  }

  html {
    font-size: 18px;
    line-height: 1.7em;
  }

  .container {
    width: 80%;
  }

  /* end layout */
}
/* @end */
/* @group forms */
input, textarea, select[size] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  background: #fafafa;
  padding: 5px;
  margin: 2px;
  -webkit-box-shadow: inset 1px 1px 2px #c2c2c2;
  -moz-box-shadow: inset 1px 1px 2px #c2c2c2;
  box-shadow: inset 1px 1px 2px #c2c2c2;
}

select {
  margin: 5px;
}

input[type=date], input[type=time], input[type=color], input[type=datetime] {
  padding: 0;
  background: #fff;
}
input[type=range] {
  background: none;
  border: none;
  box-shadow: none;
}
input[type=submit], .button {
  background: rgba(230, 230, 230, 0.6);
  background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.6) 0%, #c2c2c2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.6)), color-stop(100%, #c2c2c2));
  background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.6) 0%, #c2c2c2 100%);
  background: -o-linear-gradient(top, rgba(230, 230, 230, 0.6) 0%, #c2c2c2 100%);
  background: linear-gradient(to bottom, rgba(230, 230, 230, 0.6) 0%, #c2c2c2 100%);
  box-shadow: none;
}

textarea {
  width: 17em;
  height: 7em;
}

input:focus, textarea:focus {
  background-color: #fff;
  background-image: none;
  outline: none;
  box-shadow: none;
}

/* @end */
/* @group utility classes */
.action {
  background: #7a9fe6;
  background: -moz-linear-gradient(top, #7a9fe6 0%, #2861d3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a9fe6), color-stop(100%, #2861d3));
  background: -webkit-linear-gradient(top, #7a9fe6 0%, #2861d3 100%);
  background: -o-linear-gradient(top, #7a9fe6 0%, #2861d3 100%);
  background: linear-gradient(to bottom, #7a9fe6 0%, #2861d3 100%);
  text-shadow: 0 1px 1px #030812;
  padding: 5px 10px;
  border: 1px solid gray;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.action:link, .action:visited {
  color: white;
}
.action:hover {
  text-shadow: 0 -1px 1px #030812;
}
.action:active {
  background: #2861d3;
  background: -moz-linear-gradient(top, #2861d3 0%, #7a9fe6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2861d3), color-stop(100%, #7a9fe6));
  background: -webkit-linear-gradient(top, #2861d3 0%, #7a9fe6 100%);
  background: -o-linear-gradient(top, #2861d3 0%, #7a9fe6 100%);
  background: linear-gradient(to bottom, #2861d3 0%, #7a9fe6 100%);
}

.button {
  text-shadow: 0 1px 1px white;
  padding: 5px 10px;
  border: 1px solid gray;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.button:link, .button:visited {
  color: black;
}
.button:hover {
  text-shadow: 0 -1px 1px white;
}
.button:active {
  background: #c2c2c2;
  background: -moz-linear-gradient(top, #c2c2c2 0%, rgba(230, 230, 230, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c2c2c2), color-stop(100%, rgba(230, 230, 230, 0.6)));
  background: -webkit-linear-gradient(top, #c2c2c2 0%, rgba(230, 230, 230, 0.6) 100%);
  background: -o-linear-gradient(top, #c2c2c2 0%, rgba(230, 230, 230, 0.6) 100%);
  background: linear-gradient(to bottom, #c2c2c2 0%, rgba(230, 230, 230, 0.6) 100%);
}

.zero-margin {
  margin: 0;
}

.zero-padding {
  padding: 0;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.chromeframe {
  clear: both;
}

/* @end */
.lt-ie9 {
  /* @group global layout */
  /*iPads (landscape)*/
  /* iPads (portrait) ----------- */
  /* end layout */
}
.lt-ie9 header {
  clear: both;
  margin-top: 60px;
}
.lt-ie9 .sub-title {
  margin-left: 20px;
}
.lt-ie9 .col {
  min-width: 48%;
  position: static;
}
.lt-ie9 .span4:last-child, .lt-ie9 .span4-no-margin:last-child, .lt-ie9 .span4-push:last-child, .lt-ie9 .span4-pull:last-child {
  min-width: 100%;
}
.lt-ie9 * html {
  font-size: 100%;
}
.lt-ie9 html {
  font-size: 16px;
  line-height: 1.7em;
}
.lt-ie9 .container {
  width: 80%;
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .lt-ie9 .no-ipad {
    display: none;
  }
  .lt-ie9 .sub-title {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .lt-ie9 .container {
    width: 80%;
    margin: auto;
  }
  .lt-ie9 nav ul {
    margin: 0 auto;
    width: 100%;
    background: rgba(250, 250, 250, 0.5);
    overflow: hidden;
  }
  .lt-ie9 nav li a {
    padding: 10px;
  }
  .lt-ie9 .ipad-break-portrait, .lt-ie9 .ipad-break-landscape {
    width: 48%;
  }
  .lt-ie9 .ipad-break-portrait-expand, .lt-ie9 .ipad-break-landscape-expand {
    width: 100%;
    clear: both;
  }
  .lt-ie9 .sub-title, .lt-ie9 .page-title {
    float: none;
    margin-left: 0;
  }
  .lt-ie9 .no-ipad {
    display: none;
  }
}
.lt-ie9 .mobileOnly {
  display: none;
}
